// Variables

// Colors
$blue-gray-text: #75808c;
$blue-gray: #adb5bd;
$dark-blue-gray: #525559;
$blue-green: #0098a6;

// Breakpoints
$tiny: 320px;
$small: 375px;
$medium: 640px;
$medium-2: 768px;
$large: 900px;
$xlarge: 1200px;
$enormous: 1920px;
